body{
    background-image: url(/image/Book\ Logo\ Design.jpg);
}
h4{
    color: white;
    font-size: x-large;
}
h1{
    color: wheat;
    font-size: xx-large;
}
p{
    color: white;
    font-size: xx-large;
}