body{
    background-color: gold;
    background-image: url(/image/Book\ Logo\ Design.jpg);
}
form{
    border-radius: 20px;
    color: aliceblue;
    font-style: inherit;
}
h2{
    color: wheat;
}
h1{
    color: wheat;
}